{
	Filter = {
		Bundles = (
			"com.farlightgames.farlight84.iosglobal",
			"jp.konami.pesactionmobile",
			"com.lilithgames.xgame.ios.global",
			"com.wb.MK.Brawler2015",
			"com.xd.TLglobal",
			"com.proximabeta.mf.uamo",
			"com.garena.game.bc",
			"com.vividgames.realboxing2",
			"com.levelinfinite.hotta.ios",
			"com.teamterrible.thebabyinyellow",
			"com.kakaogames.gbod",
			"com.GreenGo.RooftopsParkour",
			"com.wb.Injustice.Brawler2017",
			"com.proxima.dfm",
			"com.kurogame.wutheringwaves.global",
			"com.netmarble.bnsmasia",
			"com.netmarble.lin2ws",
		);
	};
}